*{
  margin: 0;
  padding: 0;
}

.expense-bg{
  background-color: black;
  align-items: center;
  
  margin-top: 80px;
  padding: 0.5rem;
  border-radius:10px ;
  margin: 0 auto;
}
  /*margin-top: 80px;
    width: 50px;
    border-radius:10px ;
    
    padding: 0.5rem;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    height: 50px;
}*/


.main-data{
  width: 80%;
}
